---
import MainLayout from '../layouts/MainLayout.astro';
import '../styles/basic-grid.css';
import '../styles/about.css';

---

<MainLayout title="Portfolio - Dom">

	<div class="flex-container">
        <div class="pfp">
          <img src="../../../public/media/PfP2.png" alt="A picture of the subject of this website, Dominic">
        </div>
        <div class="blurb">
          <span>Dominic is an </span><span>engineer & designer.</span>
          <p id="blurb-text">
            Day-to-day working on a Master's degree in Design at the Rhode Island School of Design, exploring the intersections of craft and technology. Previously helping deliver helicpoters, ships, and armored vehicles for the US Navy and Marine Corps. If any of the work or thoughts on this site interest you, please do reach out, via whatever channel you like. 
        </p>
        </div>
      </div>

</MainLayout>

