---
import ProjectLayout from "../layouts/ProjectLayout.astro";
---

<ProjectLayout title="DAYDREAM CHAIR">
    <div class="description-wrap" slot="product-text">
        <div class="product-title">
            <p>DAYDREAM CHAIR</p>
        </div>
        <div class="product-details">
            <span>WHAT</span>
            <p>
                A stool, suitable for working at a high desk, which becomes a
                lounge chair when the orientation of the two pieces is adjusted.
            </p>
            <span class="why">WHY</span>
            <p>
                Nearly all chairs designed for desks optimize around a shallow
                understanding of human labor, at the expense of an essential
                aspect of our experience - leisure. Blah Blah blah
            </p>
            <span class="how">HOW</span>
            <p>
                Each stave is 14 layers of bent and laminated white oak. Brass
                rods key the two halves together. Finished with a homemade blend
                of flax oil and beeswax.
            </p>
        </div>
    </div>
</ProjectLayout>
