---
import MainLayout from '../layouts/MainLayout.astro';
import '../styles/basic-grid.css';
---

<MainLayout title="Portfolio - Dom">

	<body>
		<section class="basic-grid">
			<a href="../daydream/">
			<div class="card">
				<img class="card-img" id="img1" src="../../../public/media/chair_dd_1.jpg">
				<footer class="card-foot">
					<p class="label">DAYDREAM CHAIR</p>
					<p class="slug">0126JUN2023</p>
				</footer>
			</div>
			</a>
			<a href="../ganpaign/">
			<div id="test_card" class="card">
				<img id="img2" src="../../../public/media/chair_nn_1.jpg">
				<footer class="card-foot">
					<p class="label">{'{'}GAN{'}'}PAIGN CHAIR</p>
					<p class="slug">0126JUN2023</p>
				</footer>
			</div>
			</a>
			<a href="../ganpaign/">
			<div id="test_card" class="card">
				<img id="img3" src="../../../public/media/foam.jpeg">
				<footer class="card-foot">
					<p class="label">NWS Weather Site</p>
					<p class="slug">0126JUN2023</p>
				</footer>
			</div>
			</a>
			<a href="../ganpaign/">
			<div id="test_card" class="card">
				<img id="img4" src="../../../public/media/Nordic Weave 2.8.jpeg">
				<footer class="card-foot">
					<p class="label">FOAM STUDIES</p>
					<p class="slug">0126JUN2023</p>
				</footer>
			</div>
			</a>
			<div id="test_card" class="card">
				<img id="img5" src="./images/foam.jpeg">
				<footer class="card-foot">
					<p class="label">DAYDREAM CHAIR</p>
					<p class="slug">0126JUN2023</p>
				</footer>
			</div>
			<div id="test_card" class="card">
				<img src="./images/genuary.png">
				<footer class="card-foot">
					<p class="label">DAYDREAM CHAIR</p>
					<p class="slug">0126JUN2023</p>
				</footer>
			</div>
			<div id="test_card" class="card">
				<img src="./images/marina.png">
				<footer class="card-foot">
					<p class="label">DAYDREAM CHAIR</p>
					<p class="slug">0126JUN2023</p>
				</footer>
			</div>
			<div id="test_card" class="card">
				<img src="./images/robot.png">
				<footer class="card-foot">
					<p class="label">DAYDREAM CHAIR</p>
					<p class="slug">0126JUN2023 furniture</p>
				</footer>
			</div>
			<div id="test_card" class="card">
				<img src="./images/ship.png">
				<footer class="card-foot">
					<p class="label">DAYDREAM CHAIR</p>
					<p class="slug">0126JUN2023 furniture</p>
				</footer>
			</div>
	
	
			<div class="card">2</div>
			<div class="card">3</div>
			<div class="card">4</div>
			<div class="card">5</div>
			<div class="card">6</div>
			<div class="card">7</div>
			<div class="card">8</div>
			<div class="card">9</div>
			<div class="card">10</div>
			<div class="card">11</div>
			<div class="card">12</div>
		</section>
	
	
	
	</body>

</MainLayout>

