---
export interface Props {
	title: string;
}

import MainLayout from "../layouts/MainLayout.astro";
import "../styles/project.css";

const { title } = Astro.props;

---

<MainLayout title={title}>
	<script>
		function pickimg(imgs) {
			var expandImg = document.getElementById(
				"expandedImg"
			) as HTMLImageElement;
			var lightboximg = document.getElementById(
				"lightboximg"
			) as HTMLDivElement;
			var imgText = document.getElementById("imgtext") as HTMLElement;

			expandImg.src = imgs.src;
			lightboximg.style.backgroundImage = `url(${imgs.src})`;
			imgText.innerHTML = imgs.alt;
		}

		document.addEventListener("DOMContentLoaded", function () {
			var thumbs = document.querySelectorAll(".thumb");
			thumbs.forEach(function (thumb) {
				thumb.addEventListener("click", function () {
					pickimg(thumb);
				});
			});
		});
	</script>

	<!-- The four columns -->
	<div class="gallery">
		<div class="container">
			<!-- <span onclick="this.parentElement.style.display='none'" class="closebtn">&times;</span> -->
			<a href="#img1">
				<img
					src="../../../public/media/chair_dd_1.jpg"
					id="expandedImg"
				/>
			</a>
			<div id="imgtext"></div>
		</div>

		<div class="row">
			<div class="column">
				<img
					src="../../../public/media/chair_dd_1.jpg"
					alt=""
					style="width:100%"
					class="thumb"
				/>
			</div>
			<div class="column">
				<img
					src="../../../public/media/chair_dd_2.jpg"
					alt=""
					style="width:100%"
					class="thumb"
				/>
			</div>
			<div class="column">
				<img
					src="../../../public/media/chair_dd_3.jpg"
					alt=""
					style="width:100%"
					class="thumb"
				/>
			</div>
			<div class="column">
				<img
					src="../../../public/media/chair_dd_1.jpg"
					alt=""
					style="width:100%"
					class="thumb"
				/>
			</div>
			<div class="column">
				<img
					src="../../../public/media/chair_dd_2.jpg"
					alt=""
					style="width:100%"
					class="thumb"
				/>
			</div>
		</div>
	</div>

	<div class="description">
		
			
			<slot name="product-text"/>

	
	</div>

	<a href="#" class="lightbox" id="img1">
		<div
			id="lightboximg"
			style="background-image: url('./images/chair_nn_1.jpg')"
		>
		</div>
	</a>
</MainLayout>
